<nav class="navbar navbar-expand-lg " style="background-color: darkgreen;">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" routerLink="">
            <img src="../../../assets/LOGO_page-0001.jpg" alt="Bootstrap" width="65" height="65">
          </a>
        </div>
        
      </nav>
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/AboutUs">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/ContactUs">ContactUs</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
         
        </form>
        <button class="btn btn-danger" type="submit">Contact Us</button>
      </div>
    </div>
  </nav>
